:root{
    --hefo: #f3cbe0;
    --button: #f8c6e0;
}



* {
    box-sizing: border-box;
}


body {
    width: 80%;
    margin: auto;
    /*ortaya hizalama için */
    padding: 0;
    top: 0;
    /* yukarıya yaslamak için*/
    z-index: 1;
    background-color: white;
    font-family: "Source Code Pro", monospace;
    letter-spacing: -1px;
    word-spacing: -2px;
}

/* HEADER */

header {
    width: 100%;
    height: 160px;
    position: sticky;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.logo {
    background-color: var(--hefo);
    width: 100%;
    height: 65px;
}


.logo1 {
    float: left;
}

.logo-text {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -2px;
}

.logo-nav div {
    float: right;
    margin-left: 25px;

}

.on1, .on2 {
    margin-top: 20px;
}

.on3 {
    margin-top: 15px;
}


#search {
    width: 200px;
    height: 35px;
    border: none;
}


.fa-circle-user,
.fa-basket-shopping {
    font-size: 23px;
}

.fa-basket-shopping:hover {
    color: rgba(0, 0, 0, 0.514);
}



.login:hover {
    color: rgba(0, 0, 0, 0.514);
}


.nav-social {
    background-color: white;
    height: 95px;
    padding-top: 40px;
    font-weight: 300;
}


.pages {
    float: left;
}

.pages, .logo1 {
    margin-left: 115px;
}

.social {
    float: right;
}

.social, .logo-nav {
    margin-right: 130px;
}

.pages ul li {
    float: left;
    margin: 11px;
}

.social ul li {
    float: right;
    margin: 11px;
}

.pages a {
    transition: color 0.4s;
}

.pages a:hover {
    color: #f795c96b;
}

.now {
    color: #c577a16b;
    ;
}

.pages>ul {
    margin: 0;
    padding: 0;
}


.social>ul {
    margin: 0;
    padding: 0;
}




/* MAİN */

/* slider */

.slider {
    background-image: url(img/slider.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 40px;
}

.slider-text {
    position: absolute;
    top: 20%;
    left: 5%;
}

.slider-text p {
    margin: 0;
    font-size: 60px;
    color: #4b353e;
    text-shadow: 2px 2px 4px #96948f;
}

.number {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ince {
    font-weight: 300;
}

.slider-button {
    color: white;
    font-size: 18px;
    background-color: #4b353eec;
    text-shadow: 2px 2px 4px #977d8682;
    padding: 10px 20px;
    text-align: center;
    position: absolute;
    top: 120%;
    left: 2%;
}

/* best-seller */
.bestseller {
    display: flex;
    flex-direction: column;

}

.bestseller div {
    text-align: center;

}

.bestseller-head h2,
.followme-head h2 {
    font-weight: 300;
    font-size: 30px;
}

.bestseller-head h2{
    margin-bottom: 0;
}


.bestseller-head p {
    font-weight: 350;

}

.cards {
    margin-top: 20px;
    margin-bottom: 30px;
}

.card {
    margin: 10px;
    width: 27%;
    display: inline-block;
    justify-content: center;
    position: relative;
}

.card a{
    transition: opacity 0.4s;
}

.card a:hover{
    opacity: 0.5;
}

.card img {
    height: 270px;
    width: 100%;
}

.new{
    position: absolute;
    background-color: #d899b9;
    padding: 10px 20px;
    color: white;
    left: 0;
    top: 0;
}

.card-info {
    padding: 10px;
    font-weight: 320;
    font-size: 17px;
}

/* ALL COOKIES divider button*/

/* TEXT DİVİDER ÖRNEKLERİ

ÖRNEK *Accessible Medium Style Dividers*
hr {
    display: block;
    margin: 50px 0 -15px;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: $hr-color;}
    
h2 {
      display: inline-block;
      position: relative;
      left: 50%;
      margin: 0;
      padding: 5px 10px;
      border: 1px solid $hr-text-color;
      transform: translateX(-50%);
      color: $hr-text-color;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      background-color: $background-color;
    }
 
 

ÖRNEK *basit*
 
 <div class="divider">Lorem Ipsum</div>

 .divider {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 3px;
  background-color: red;
  margin: 5px;
}
    */

 
/* ilk örnek için oluşturulmuştur.

.button-hr {
    margin-top: 50px;
    margin-bottom: -20px;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: black;
}  

.all-cookies {
    display: inline-block;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 8px 10px;
    border: 1px solid black;
    width: 150px;
    text-align: center;
    background-color: white;
    font-size: 17px;
    font-weight: 300;
    transition: background-color 0.4s, border 0.4s;
}

.all-cookies:hover{
    background-color: #f8c6e0;
    border: 1px solid #f8c6e0;
} */


.divider{
    font-size: 17px;
    display: flex;
    align-items: center;
    font-weight: 300;
    
}

.divider span{
    border: 1px solid black;
    padding: 10px 20px;
    transition: background-color 0.4s, border 0.4s;
}

.divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 0.1px;
    background-color: black;
    margin: 0;
  }

  .divider span:hover{
    background-color: var(--button);
    border: 1px solid var(--button);
  }



/* follow-me */

.followme{
    height: 950px;
    margin-top: 40px;
    text-align: center;
}

/*yarım renk arka plan yapmak için eklendi*/
.background{ 
    background-color: #F3F3F5;
    height: 400px;
}

.followme-index{
    padding-top: 50px;
} 


.gallery a img{
    height: 319px;
    width: 319px;
    object-fit: cover;
    margin: 5px;
}

.gallery a{
    transition: opacity 0.4s;
}

.gallery a:hover{
    opacity: 0.5; 
}


.load-more-btn{
    background-color: white;
    font-size: 17px;
    font-weight: 300;
    border: 1px solid black;
    padding: 10px 10px;
    width: 130px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 35px;
    transition: color 0.4s;
}

.load-more-btn:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.458);
}


/* more-info */

.more-info{
    width: 70%;
    margin: auto;
    display: flex;
    text-align: center;
   
    /* justify-content: space-around; ikinci tür kullanım için */
}

/* ikinci tür kullanım için
.dr{
    background-color: rgba(0, 0, 0, 0.704);
    padding: 1px;
    margin: 0 70px 0 70px;
} 
    */


.vr{
    background-color: rgba(0, 0, 0, 0.253) ;
    border: 1px solid rgba(0, 0, 0, 0.253) ;
}  


.more i{
    font-size: 45px;
}

.more p{
    font-size: 18px;
}

.more small{
    font-size: 14px;
}



/* FOOTER */

footer{
    background-color: var(--hefo);
    width: 100%;
    position: sticky;
    padding-top: 80px;
    margin-bottom: 50px;
    
}

/* footer-1 */


.footer-1{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "nav1 nav2 nav3 nav4"
                         "foot1 foot1 . foot2";
    gap: 70px 15px;
    justify-content: stretch;
    align-content: stretch;
   font-size: 15px;
   
}

.footer-1 h3{
    font-weight: 330;
    font-size: 14px;
    padding-bottom:15px;
}

.nav1{
    grid-area: nav1;
    display: flex;
    flex-direction: column;
}

.nav1 a{
    line-height: 1.8em;
    word-spacing: -3px;
}

.nav2{grid-area: nav2;}

.nav2 p{
   line-height: 1.8em;
   word-spacing: -5px;
}

.nav3{grid-area: nav3;}

.nav3 address{
    line-height: 1.8em;
    word-spacing: -3px;
    letter-spacing: -1.5px;
}

.nav4{
    grid-area: nav4;
}

#nav4-info input{
    margin-bottom: 4px;
    width: 265px;
    height: 35px;
}

#email {
    background-color:#f3d2e2;
    border: 2px #f189bf solid;
}

#subscribe{
    background-color: #f189bf;
    border: none;
    transition: color 0.4s;
    font-size: 17px;
}

#subscribe:hover{
    color: white;
    cursor: pointer;
}


.foot1{
    grid-area: foot1;
}

.foot2{
    grid-area: foot2;
    font-size:20px ;
    justify-self: end;
}

.foot2 a{
    margin-left: 15px;
}


/* footer-2 */



